.graph {
  width: 390px;
  height: 300px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #13132b;
  overflow: hidden;
  position: relative;
}

.axis {
  position: absolute;
}

.x-axis {
  bottom: 0;
  left: 0;
  width: 100%;
}

.y-axis {
  left: 0;
  top: 0;
  height: 100%;
}

.clouds {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 40%;
  background: url('../../../static/schedule-bg2.svg') no-repeat center center;
  background-size: cover;
}

.jetpack {
  position: absolute;
  bottom: 0;
  left: 10%;
  transition: transform 0.5s ease-in-out;
}

.jetpack img {
  height: 24px;
  width: 24px;
}

.multiplier {
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: #6250c5;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.loading-icon {
  margin-top: 35px;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.loading-circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotating-image {
  width: 120px;
  height: 120px;
  animation: rotate 2s linear infinite;
  opacity: 0.8;
}

/* @keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
} */

.loading-text {
  text-align: center;
}

.progress-bar {
  width: 80%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  overflow: hidden;
  margin-top: 8px;
}

.progress {
  height: 100%;
  background-color: #9b59b6;
  transition: width 0.5s;
}