@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


:root {
    --color-mini-app: #231F20;
    --default--background-color: rgba(40, 44, 84, 0.3);
    --font-family: 'Secular One', sans-serif;
    --robot: 'Coda Caption', sans-serif;
    --monster: 'Montserrat', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--default--background-color);
    font-family: 'Secular One', sans-serif;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 480px) {
    body {
        height: 100%;
        width: 100%;
        overflow-x: hidden;
    }
}